@import "_default";

@media screen and (min-width: 1024px) {
  main {
    section {
      width: 90%;

      margin: auto;
      margin-top: 2rem;
      & > div {
        display: flex;

        flex-wrap: wrap;
        h1 {
          font-size: 2.5rem;
          background-color: #9a8a78;
          color: white;
        }
        h2 {
          color: wheat;
          font-size: 2rem;
        }
        h3 {
          font-size: 1.5rem;
          color: #9a8a78;
        }
        p {
          margin-top: 1rem;
          color: white;
          line-height: 24px;
        }
        ul {
          margin-top: 1rem;

          li {
            color: white;
            margin-top: 1rem;
          }
        }
        img {
          width: 100%;
          height: 100%;
          transition: all 0.6s;
          box-shadow: 0 0 5px #9a8a78;
          &:hover {
            transform: scale(1.05, 1.05);
            cursor: pointer;
          }
        }
        & > div,
        h1 {
          width: 25%;
          height: 425px;
          text-align: center;
          border: 1px solid #9a8a78;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    section {
      width: 80%;

      margin: auto;
      margin-top: 2rem;
      & > div {
        display: flex;

        flex-wrap: wrap;
        h1 {
          font-size: 2.5rem;
          background-color: #9a8a78;
          color: white;
        }
        h2 {
          color: wheat;
          font-size: 2rem;
        }
        h3 {
          font-size: 1.5rem;
          color: #9a8a78;
        }
        p {
          margin-top: 1rem;
          color: white;
          line-height: 24px;
        }
        ul {
          margin-top: 1rem;

          li {
            color: white;
            margin-top: 1rem;
          }
        }
        img {
          width: 100%;
          height: 100%;
          transition: all 0.6s;
          box-shadow: 0 0 5px #9a8a78;
          &:hover {
            transform: scale(1.05, 1.05);
            cursor: pointer;
          }
        }
        & > div,
        h1 {
          width: 50%;
          height: 425px;
          text-align: center;
          border: 1px solid #9a8a78;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    section {
      width: 90%;

      margin: auto;
      margin-top: 2rem;
      & > div {
        display: flex;

        flex-wrap: wrap;
        h1 {
          font-size: 2.5rem;
          height: 250px;
          background-color: #9a8a78;
          color: white;
          width: 100%;
          margin-top: 1rem;

          text-align: center;
          border: 1px solid #9a8a78;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1rem;
        }
        h2 {
          color: wheat;
          font-size: 2rem;
        }
        h3 {
          font-size: 1.5rem;
          color: #9a8a78;
        }
        p {
          margin-top: 1rem;
          color: white;
          line-height: 24px;
        }
        ul {
          margin-top: 1rem;

          li {
            color: white;
            margin-top: 1rem;
          }
        }
        img {
          width: 100%;
          height: 100%;
          transition: all 0.6s;
          box-shadow: 0 0 5px #9a8a78;
          &:hover {
            transform: scale(1.05, 1.05);
            cursor: pointer;
          }
        }
        & > div {
          width: 100%;
          margin-top: 1rem;

          text-align: center;
          border: 1px solid #9a8a78;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1rem;
        }
      }
    }
  }
}
