@font-face {
  font-family: Raleway;
  src: url(Raleway-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: Raleway;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
    background-color: #262626;
  }
  main #nav-for-mobil-head {
    display: none;
  }
  main #nav-for-mobil {
    display: none;
  }
  main footer {
    width: 88%;
    padding: 1rem 0;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
  }
  main footer > div:nth-child(1) {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  main footer > div:nth-child(1) h1 {
    font-size: 3rem;
    color: #9a8a78;
    margin-bottom: 2rem;
  }
  main footer > div:nth-child(1) a {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }
  main footer > div:nth-child(1) a i {
    font-size: 2.2rem;
    color: #665c51;
  }
  main footer > div:nth-child(1) a span {
    font-size: 1rem;
    margin-left: 2rem;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
  }
  main footer > div:nth-child(1) p {
    margin-top: 2rem;
    color: #d4cbc1;
  }
  main footer form {
    width: 40%;
    padding: 1rem;
  }
  main footer form > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }
  main footer form > div:nth-child(1) label {
    width: 50%;
    font-size: 1.2rem;
    color: #9a8a78;
  }
  main footer form > div:nth-child(1) label input {
    width: 90%;
    outline: none;
    border: none;
    background-color: #262626;
    border-bottom: 1px solid #9a8a78;
    padding: 10px 0;
    color: white;
    font-size: 1.2rem;
  }
  main footer form > div:nth-child(1) label input:focus {
    border-bottom: 2px solid white;
  }
  main footer form > div:nth-child(2) {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  main footer form > div:nth-child(2) label {
    width: 100%;
    font-size: 1.2rem;
    color: #9a8a78;
  }
  main footer form > div:nth-child(2) label input {
    width: 95%;
    outline: none;
    border: none;
    background-color: #262626;
    border-bottom: 1px solid #9a8a78;
    padding: 10px 0;
    color: white;
    font-size: 1.2rem;
  }
  main footer form > div:nth-child(2) label input:focus {
    border-bottom: 2px solid white;
  }
  main footer form > div:nth-child(3) {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  main footer form > div:nth-child(3) label {
    width: 50%;
    font-size: 1.2rem;
    color: #9a8a78;
  }
  main footer form > div:nth-child(3) label input {
    width: 90%;
    outline: none;
    border: none;
    background-color: #262626;
    border-bottom: 1px solid #9a8a78;
    padding: 10px 0;
    color: white;
    font-size: 1.2rem;
  }
  main footer form > div:nth-child(3) label input:focus {
    border-bottom: 2px solid white;
  }
  main footer form > div:nth-child(4) {
    margin-top: 2rem;
    width: 95%;
  }
  main footer form > div:nth-child(4) input {
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid #9a8a78;
    background-color: #262626;
    padding: 10px 0;
    color: white;
    font-size: 1rem;
    color: #9a8a78;
    transition: all 0.6s;
  }
  main footer form > div:nth-child(4) input:hover {
    background-color: #9a8a78;
    color: #262626;
    cursor: pointer;
  }
  main footer > div:nth-child(3) {
    width: 15%;
  }
  main footer > div:nth-child(3) ul {
    width: 100%;
  }
  main footer > div:nth-child(3) ul li:not(:last-child) {
    width: 100%;
    margin-top: 1rem;
  }
  main footer > div:nth-child(3) ul li:not(:last-child) a {
    display: inline-block;
    color: #9a8a78;
    padding: 5px 10px;
    transition: all 0.6s;
    font-size: 0.9rem;
  }
  main footer > div:nth-child(3) ul li:not(:last-child) a:hover {
    color: #ccc4ba;
    text-shadow: 0 0 5px white;
  }
  main footer > div:nth-child(3) ul li:last-child {
    width: 100%;
    margin-top: 2rem;
  }
  main footer > div:nth-child(3) ul li:last-child a {
    display: block;
    text-align: center;
    background-color: #9a8a78;
    color: #262626;
    padding: 10px 10px;
    transition: all 0.6s;
  }
  main footer > div:nth-child(3) ul li:last-child a:hover {
    background-color: #cfc7be;
  }
  main footer #footer-for-mobil {
    display: none;
  }
  #social-network {
    position: fixed;
    left: 10px;
    bottom: 50px;
    width: 50px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #social-network a {
    margin-top: 1.5rem;
  }
  #social-network a i {
    display: inline-block;
    color: white;
    transition: all 0.6s;
  }
  #social-network a i:hover {
    color: #ccc4ba;
    text-shadow: 0 0 5px white;
  }
  #arrow-up {
    position: fixed;
    right: 1rem;
    bottom: 6rem;
  }
  #arrow-up a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #arrow-up a i {
    font-size: 2.5rem;
    color: #c4b19c;
    -webkit-animation: arrow-light 1s ease infinite;
            animation: arrow-light 1s ease infinite;
  }
  @-webkit-keyframes arrow-light {
    0% {
      text-shadow: 0 0 2px #ddd;
    }
    25% {
      text-shadow: 0 -2px 2px #ddd;
    }
    50% {
      text-shadow: 0 -5px 2px #ddd;
    }
    75% {
      text-shadow: 0 -8px 2px #ddd;
    }
    100% {
      text-shadow: 0 0 5px #ddd;
    }
  }
  @keyframes arrow-light {
    0% {
      text-shadow: 0 0 2px #ddd;
    }
    25% {
      text-shadow: 0 -2px 2px #ddd;
    }
    50% {
      text-shadow: 0 -5px 2px #ddd;
    }
    75% {
      text-shadow: 0 -8px 2px #ddd;
    }
    100% {
      text-shadow: 0 0 5px #ddd;
    }
  }
  #lets-chat {
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(154, 138, 120, 0.8);
    position: fixed;
    right: 2rem;
    bottom: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 5px #9a8a78;
  }
  #lets-chat > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }
  #lets-chat > div i {
    font-size: 1.5rem;
    color: #262626;
  }
  #lets-chat > div span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #262626;
  }
  #chat-box {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 250px;
    height: 70vh;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 10px #86796b;
  }
  #chat-box .chat-box-top {
    width: 100%;
    height: 15%;
    padding: 0 1rem;
    background-color: rgba(92, 84, 74, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #chat-box .chat-box-top > div p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
  }
  #chat-box .chat-box-top > div p:last-child {
    color: black;
    font-size: 0.9rem;
    margin-top: 2px;
  }
  #chat-box .chat-box-top > div p:last-child span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #43b72a;
    border-radius: 20px;
    margin-right: 5px;
  }
  #chat-box .chat-box-top i {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  #chat-box .chat-box-center {
    width: 100%;
    height: 75%;
    padding: 1rem;
    background-color: rgba(221, 221, 221, 0.8);
    overflow-y: auto;
  }
  #chat-box .chat-box-bottom {
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  #chat-box .chat-box-bottom form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #chat-box .chat-box-bottom form #input-text {
    width: 86%;
    height: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.4);
  }
  #chat-box .chat-box-bottom form #input-text::-moz-placeholder {
    font-size: 1rem;
  }
  #chat-box .chat-box-bottom form #input-text:-ms-input-placeholder {
    font-size: 1rem;
  }
  #chat-box .chat-box-bottom form #input-text::placeholder {
    font-size: 1rem;
  }
  #chat-box .chat-box-bottom form i {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #707070;
    cursor: pointer;
  }
  #chat-box .chat-box-bottom form > div {
    width: 7%;
    height: 100%;
    position: relative;
  }
  #chat-box .chat-box-bottom form > div #input-file {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  #chat-box .chat-box-bottom form > div #attach {
    width: 80%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #chat-box .chat-box-bottom form > div #send-message-icon {
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
    background-color: #262626;
  }
  main #nav-for-pc {
    display: none;
  }
  main #nav-for-mobil-head {
    width: 100%;
    background-color: #262626;
  }
  main #nav-for-mobil-head > a {
    display: block;
    padding: 20px 0;
    color: #9a8a78;
    text-align: center;
    border-bottom: 1px solid #9a8a78;
  }
  main #nav-for-mobil-head > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  main #nav-for-mobil-head > div h1 a {
    color: #9a8a78;
  }
  main #nav-for-mobil-head > div i {
    font-size: 2rem;
    color: #9a8a78;
  }
  main #closebar {
    font-size: 2rem;
    color: #9a8a78;
    position: absolute;
    z-index: 5;
    top: 1rem;
    right: 1rem;
    display: none;
  }
  main #nav-for-mobil {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 4;
    transition: all 0.6s;
  }
  main #nav-for-mobil li {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #9a8a78;
    margin-top: 1rem;
  }
  main #nav-for-mobil li a {
    display: block;
    padding: 1rem 0;
    color: white;
  }
  main footer {
    width: 95%;
    padding: 1rem 1rem;
    margin: auto;
    margin-top: 5rem;
  }
  main footer > div:nth-child(1) {
    width: 80%;
    margin: auto;
    text-align: center;
    order: 2;
  }
  main footer > div:nth-child(1) h1 {
    font-size: 2rem;
    color: #9a8a78;
    margin-bottom: 2rem;
    text-align: center;
  }
  main footer > div:nth-child(1) a {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  main footer > div:nth-child(1) a i {
    font-size: 3rem;
    color: #665c51;
  }
  main footer > div:nth-child(1) a span {
    font-size: 1rem;
    margin-top: 1rem;
    color: #f1dfca;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
  }
  main footer > div:nth-child(1) p {
    display: none;
    margin-top: 2rem;
    color: #d4cbc1;
  }
  main footer form {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
  }
  main footer form > div:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  main footer form > div:nth-child(1) label {
    width: 100%;
    font-size: 1rem;
    color: #9a8a78;
    margin-bottom: 2rem;
  }
  main footer form > div:nth-child(1) label input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #262626;
    border-bottom: 1px solid #9a8a78;
    padding: 10px 0;
    color: white;
    font-size: 1rem;
  }
  main footer form > div:nth-child(1) label input:focus {
    border-bottom: 2px solid white;
  }
  main footer form > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
  main footer form > div:nth-child(2) label {
    width: 100%;
    font-size: 1rem;
    color: #9a8a78;
  }
  main footer form > div:nth-child(2) label input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #262626;
    border-bottom: 1px solid #9a8a78;
    padding: 10px 0;
    color: white;
    font-size: 1rem;
  }
  main footer form > div:nth-child(2) label input:focus {
    border-bottom: 2px solid white;
  }
  main footer form > div:nth-child(3) {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  main footer form > div:nth-child(3) label {
    width: 100%;
    font-size: 1rem;
    color: #9a8a78;
    margin-bottom: 2rem;
  }
  main footer form > div:nth-child(3) label input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #262626;
    border-bottom: 1px solid #9a8a78;
    padding: 10px 0;
    color: white;
    font-size: 1rem;
  }
  main footer form > div:nth-child(3) label input:focus {
    border-bottom: 2px solid white;
  }
  main footer form > div:nth-child(4) {
    width: 100%;
  }
  main footer form > div:nth-child(4) input {
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid #9a8a78;
    background-color: #9a8a78;
    padding: 10px 0;
    color: #262626;
    font-size: 1rem;
  }
  main footer > div:nth-child(3) {
    display: none;
  }
  main footer #footer-for-mobil {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main footer #footer-for-mobil div {
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  main footer #footer-for-mobil div a {
    margin-top: 0.5rem;
  }
  main footer #footer-for-mobil div a i {
    font-size: 1.2rem;
    color: #ccc4ba;
    text-shadow: 0 0 2px white;
  }
  main footer #footer-for-mobil p {
    width: 88%;
    line-height: 2rem;
    color: #ccc4ba;
  }
  #social-network {
    display: none;
  }
  #arrow-up {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
  }
  #arrow-up a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #arrow-up a i {
    font-size: 2.5rem;
    color: #c4b19c;
    -webkit-animation: arrow-light 1s ease infinite;
            animation: arrow-light 1s ease infinite;
  }
  @-webkit-keyframes arrow-light {
    0% {
      text-shadow: 0 0 2px #ddd;
    }
    25% {
      text-shadow: 0 -2px 2px #ddd;
    }
    50% {
      text-shadow: 0 -5px 2px #ddd;
    }
    75% {
      text-shadow: 0 -8px 2px #ddd;
    }
    100% {
      text-shadow: 0 0 5px #ddd;
    }
  }
  @keyframes arrow-light {
    0% {
      text-shadow: 0 0 2px #ddd;
    }
    25% {
      text-shadow: 0 -2px 2px #ddd;
    }
    50% {
      text-shadow: 0 -5px 2px #ddd;
    }
    75% {
      text-shadow: 0 -8px 2px #ddd;
    }
    100% {
      text-shadow: 0 0 5px #ddd;
    }
  }
  #lets-chat {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(154, 138, 120, 0.8);
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    cursor: pointer;
    box-shadow: 0 0 5px #9a8a78;
  }
  #lets-chat > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }
  #lets-chat > div i {
    font-size: 1.5rem;
    color: #262626;
  }
  #lets-chat > div span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #262626;
    display: none;
  }
  #chat-box {
    width: 100%;
    height: 93vh;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    display: none;
  }
  #chat-box .chat-box-top {
    width: 100%;
    height: 12%;
    padding: 0 1rem;
    background-color: rgba(92, 84, 74, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #chat-box .chat-box-top > div p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
  }
  #chat-box .chat-box-top > div p:last-child {
    color: black;
    font-size: 0.9rem;
    margin-top: 2px;
  }
  #chat-box .chat-box-top > div p:last-child span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #43b72a;
    border-radius: 20px;
    margin-right: 5px;
  }
  #chat-box .chat-box-top i {
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  #chat-box .chat-box-center {
    width: 100%;
    height: 80%;
    padding: 1rem;
    background-color: rgba(221, 221, 221, 0.9);
    overflow-y: auto;
  }
  #chat-box .chat-box-center #chat-box-center-inner {
    width: 70%;
    padding: 1rem;
    border-radius: 5px 0 5px 5px;
    color: white;
  }
  #chat-box .chat-box-bottom {
    width: 100%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  #chat-box .chat-box-bottom form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #chat-box .chat-box-bottom form #input-text {
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.4);
  }
  #chat-box .chat-box-bottom form #input-text::-moz-placeholder {
    font-size: 1rem;
  }
  #chat-box .chat-box-bottom form #input-text:-ms-input-placeholder {
    font-size: 1rem;
  }
  #chat-box .chat-box-bottom form #input-text::placeholder {
    font-size: 1rem;
  }
  #chat-box .chat-box-bottom form > div {
    width: 9%;
    position: relative;
  }
  #chat-box .chat-box-bottom form > div #input-file {
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  #chat-box .chat-box-bottom form > div .bi-paperclip {
    color: #707070;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #chat-box .chat-box-bottom form #send-message-icon {
    width: 9%;
    font-size: 1.2rem;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  main {
    width: 100%;
    background-color: #262626;
  }
  main #first-section {
    width: 100%;
    height: 95vh;
    background-image: url(../img/home-img/head-bg7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  main #first-section > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
  }
  main #first-section > div #nav-for-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main #first-section > div #nav-for-pc h1 {
    font-weight: bold;
  }
  main #first-section > div #nav-for-pc h1 a {
    display: block;
    color: white;
    letter-spacing: 2px;
  }
  main #first-section > div #nav-for-pc ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main #first-section > div #nav-for-pc ul li a {
    display: block;
    color: white;
    padding: 10px 20px;
    transition: all 0.6s;
  }
  main #first-section > div #nav-for-pc ul li a:hover {
    color: #b1aaa2;
  }
  main #first-section > div #nav-for-pc ul li:first-child a {
    color: #b1aaa2;
  }
  main #first-section > div #nav-for-pc ul li:last-child a {
    border: 1px solid white;
  }
  main #first-section > div #nav-for-pc ul li:last-child a:hover {
    border: 1px solid;
  }
  main #first-section > div .head-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #first-section > div .head-text > div {
    text-align: center;
  }
  main #first-section > div .head-text > div h1 {
    font-size: 4rem;
    color: white;
    letter-spacing: 1px;
  }
  main #first-section > div .head-text > div h3 {
    font-size: 2rem;
    color: white;
    margin-top: 1rem;
    letter-spacing: 1px;
  }
  main #second-section {
    width: 88%;
    margin: 5rem auto;
    border: 1px solid #9a8a78;
  }
  main #second-section .second-section-first {
    display: flex;
  }
  main #second-section .second-section-first .second-first-left {
    width: 50%;
  }
  main #second-section .second-section-first .second-first-left img {
    width: 100%;
    height: 100%;
  }
  main #second-section .second-section-first .second-first-right {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner h2 {
    font-size: 2.5rem;
    color: white;
    letter-spacing: 3px;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner ul {
    margin-top: 2rem;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner ul li {
    color: white;
    list-style-type: disc;
    margin-top: 1rem;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner a {
    display: inline-block;
    background-color: #9a8a78;
    color: #262626;
    padding: 20px 80px;
    margin: 3rem 0;
    transition: all 0.6s;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner a:hover {
    background-color: #c5b8a9;
  }
  main #second-section .second-section-second {
    border-top: 1px solid #9a8a78;
    display: flex;
  }
  main #second-section .second-section-second > div {
    border-right: 1px solid #9a8a78;
    width: 25%;
    text-align: center;
    padding: 60px 0;
  }
  main #second-section .second-section-second > div i {
    color: #9a8a78;
    font-size: 3.5rem;
  }
  main #second-section .second-section-second > div p {
    color: white;
    font-size: 1.2rem;
    margin-top: 3rem;
  }
  main #second-section .second-section-second > div:last-child {
    border-right: none;
  }
  main #second-section .second-section-third {
    border-top: 1px solid #9a8a78;
    display: flex;
  }
  main #second-section .second-section-third > div:first-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }
  main #second-section .second-section-third > div:first-child > div h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
  }
  main #second-section .second-section-third > div:first-child > div h3 {
    color: #9a8a78;
    margin-top: 2rem;
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  main #second-section .second-section-third > div:first-child > div p {
    color: white;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
  main #second-section .second-section-third > div:last-child {
    width: 50%;
  }
  main #second-section .second-section-third > div:last-child img {
    width: 100%;
    height: 100%;
  }
  main #third-section {
    width: 88%;
    margin: 5rem auto;
  }
  main #third-section h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  main #third-section .home-projects-img {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
  }
  main #third-section .home-projects-img > div:nth-child(1) {
    width: 20%;
  }
  main #third-section .home-projects-img > div:nth-child(1) img {
    width: 100%;
    border: 1px solid #9a8a78;
  }
  main #third-section .home-projects-img > div:nth-child(1) > img:last-child {
    margin-top: 2rem;
  }
  main #third-section .home-projects-img > div:nth-child(2) {
    width: 20%;
  }
  main #third-section .home-projects-img > div:nth-child(2) img {
    width: 100%;
    border: 1px solid #9a8a78;
  }
  main #third-section .home-projects-img > div:nth-child(2) > img:last-child {
    margin-top: 2rem;
  }
  main #third-section .home-projects-img > div:nth-child(3) {
    width: 50%;
  }
  main #third-section .home-projects-img > div:nth-child(3) img {
    width: 100%;
    height: 100%;
    border: 1px solid #9a8a78;
  }
  main #third-section a {
    display: inline-block;
    width: 20%;
    margin: 5rem 40%;
    background-color: #9a8a78;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    transition: all 0.6s;
  }
  main #third-section a:hover {
    background-color: #c5b8a9;
  }
  main #fourth-section {
    width: 88%;
    margin: 2rem auto;
    border: 1px solid #9a8a78;
    border-right: none;
    display: flex;
  }
  main #fourth-section > div {
    width: 25%;
    padding: 3rem 2rem;
    border-right: 1px solid #9a8a78;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main #fourth-section > div p {
    color: white;
    line-height: 2rem;
  }
  main #fourth-section > div h2 {
    width: 100%;
    margin-top: 2rem;
    color: #9a8a78;
    letter-spacing: 2px;
  }
  main #fourth-section > :nth-child(1) {
    background-color: #9a8a78;
  }
  main #fourth-section > :nth-child(1) h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
  }
  main #fourth-section > :nth-child(3) {
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  main #first-section {
    margin-top: 2rem;
    width: 100%;
    height: 400px;
    background-image: url(../img/home-img/head-bg7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main #first-section > div {
    width: 100%;
    height: 100%;
  }
  main #first-section > div #nav-for-pc {
    display: none;
  }
  main #first-section > div .head-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #first-section > div .head-text > div {
    text-align: center;
  }
  main #first-section > div .head-text > div h1 {
    font-size: 2rem;
    color: white;
    letter-spacing: 1px;
  }
  main #first-section > div .head-text > div h3 {
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    font-weight: lighter;
  }
  main #second-section {
    width: 95%;
    margin: 3rem auto;
  }
  main #second-section .second-section-first .second-first-left {
    width: 100%;
  }
  main #second-section .second-section-first .second-first-left img {
    width: 100%;
    height: 100%;
    border: 1px solid #9a8a78;
    box-shadow: 0 0 5px #9a8a78;
  }
  main #second-section .second-section-first .second-first-right {
    box-shadow: 0 0 5px #9a8a78 inset;
    padding: 2rem 0;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner h2 {
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner ul {
    margin-top: 2rem;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner ul li {
    color: white;
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 1rem;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner a {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 1rem 0;
    display: inline-block;
    background-color: #9a8a78;
    color: #262626;
    margin-top: 2rem;
    transition: all 0.6s;
  }
  main #second-section .second-section-first .second-first-right .second-first-right-inner a:hover {
    background-color: #c5b8a9;
  }
  main #second-section .second-section-second {
    border: 1px solid #9a8a78;
    box-shadow: 0 0 5px #9a8a78;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
  }
  main #second-section .second-section-second > div {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 2px #9a8a78 inset;
  }
  main #second-section .second-section-second > div i {
    color: #9a8a78;
    font-size: 2rem;
  }
  main #second-section .second-section-second > div p {
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
  }
  main #second-section .second-section-second > div:last-child {
    border-right: none;
  }
  main #second-section .second-section-third {
    width: 100%;
    border: 1px solid #9a8a78;
    box-shadow: 0 0 5px #9a8a78 inset;
    padding: 2rem 1rem;
  }
  main #second-section .second-section-third > div {
    width: 100%;
  }
  main #second-section .second-section-third > div h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  main #second-section .second-section-third > div h3 {
    color: #9a8a78;
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  main #second-section .second-section-third > div p {
    color: white;
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 2rem;
  }
  main #second-section .second-section-third > div:first-child {
    width: 100%;
  }
  main #second-section .second-section-third > div:last-child {
    width: 100%;
    margin-top: 2rem;
  }
  main #second-section .second-section-third > div:last-child img {
    width: 100%;
    box-shadow: 0 0 5px #9a8a78;
  }
  main #third-section {
    width: 95%;
    margin: 2rem auto;
  }
  main #third-section h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  main #third-section .home-projects-img {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  main #third-section .home-projects-img > div {
    width: 100%;
  }
  main #third-section .home-projects-img > div img {
    width: 100%;
    border: 1px solid #9a8a78;
    box-shadow: 0 0 5px #9a8a78;
    margin-top: 1rem;
  }
  main #third-section a {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 1.5rem;
    background-color: #9a8a78;
    box-shadow: 0 0 2px #9a8a78;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    transition: all 0.6s;
  }
  main #third-section a:hover {
    background-color: #c5b8a9;
  }
  main #fourth-section {
    width: 95%;
    margin: 3rem auto;
  }
  main #fourth-section > div {
    width: 100%;
    padding: 2rem 0;
    border-right: 1px solid #9a8a78;
    box-shadow: 0 0 5px #9a8a78 inset;
    margin-top: 1rem;
  }
  main #fourth-section > div p {
    color: white;
    line-height: 2rem;
    width: 90%;
    margin: auto;
  }
  main #fourth-section > div h2 {
    width: 100%;
    margin-top: 1rem;
    color: #9a8a78;
    letter-spacing: 2px;
    text-align: center;
  }
  main #fourth-section > :nth-child(1) {
    background-color: #9a8a78;
    text-align: center;
  }
  main #fourth-section > :nth-child(1) h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */